drush/contrib
vendor
web/core
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
web/sites/*/settings.php
web/sites/*/settings.local.php
web/site/*/settings*.php
web/sites/*/files
web/sites/simpletest
.env
.well-known
.DS_Store
README.txt
web/*.txt
web/*.php
web/*.html
web/*.config
web/.htaccess
web/.ht.router.php
web/.eslintrc.json
web/.eslintignore
web/.csslintrc
web/core
web/profiles/*.txt
web/sites/*.txt
web/sites/example.*
web/sites/development.*
web/sites/*/files
web/sites/*/private
web/sites/*/settings*.php
web/themes/*.txt
web/branding
web/endowment

